// General

a:focus, a:hover {
    text-decoration: none !important;
}

.sidebar .nav-links {
    display: none !important;
}

.navbar .logo {
  max-height: 2rem;
  margin-right: .5rem !important;

}

.home {
  .hero {
    img {
        min-height: 160px;
    }
    .second-word {
        color: #7a7a7a;
        font-weight: normal;
    }
    .action-button {
        background: #eb6400;
        color: #ffffff;
        box-shadow: inset 0 -3px 0 0 #bf4c00;

        display: inline-block;

        padding: 1rem 1.5rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        transition: background .1s ease-out, border-color .1s ease-out, color .1s ease-out;

        border-radius: 0;

        &:hover {
            background-color: #d55800;   
        }
    }
  }
}

.content {

    .icon {
        &.outbound {
            display: none;
        }
    }

    td:first-child, th:first-child {
    padding-left: 1.5rem;
    }

    td:last-child, th:last-child {
    padding-right: 1.5rem;
}
}

// Sidebar

.sidebar-heading .arrow {
  margin-right: 1rem;
}

// Page

.page {
    .content:not(.custom) > h1:first-child {
        margin-bottom: 2rem;
    }

    // .content h1 + p {
    //     margin-bottom: 2rem;
    // }

    .content h2, .content:not(.custom) > h2 {
        margin-bottom: 2rem;
    }

    .content:not(.custom) > h1 + h2,
    .content:not(.custom) > h2 + h4 {
        margin-top: 0;
        padding-top: 0;
    }
}

.content {

    .color, .typography, .layout, .grid, .forms {

        h2:not(:first-child) {
            margin-top: 2rem;
        }

        h3 {
            margin-top: 2rem;
        }

    }
}

// Visual / Forms

.forms {
}


// Visual / Color

.color {

@media (min-width: 768px) {
    .primary, .neutral {
        article:nth-of-type(1) {
            order: 2;
        }

        article:nth-of-type(2) {
            order: 1;
        }
    }
}

.color-card {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    text-transform: lowercase;

        &.primary {
            padding: 2rem 1rem;
        }

        &.dark span {
            color: rgba(0,0,0,.87);
        }

        &.light span {
            color: rgba(255,255,255,.87);
        }
    }
}

.content {
    iframe {
        border: 0;
    }
}

// Visual / Typography

.typography {

    .type-container {
        border: 1px solid #E0E0E0;
        padding: 1rem 1.5rem;
        text-align: left;
        width: 100%;
        margin-bottom: -1px;
    
        h1, h2, h3, h4, h5, h6, p {
            padding-bottom: 0;
            border-bottom: 0;
            margin: 0;
        }
    }
}

// Visual / Grid

.grid-card {
  text-align: center;
  padding: 1rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.grid-card-container {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #EBEBEB;
}

.grid-card-container:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .grid-card-container {
    padding: 2rem;
    margin-bottom: 2rem;
  }
}