// Colors
$accentColor = #eb6400
$textColor = #5c5c5c
$borderColor = #e0e0e0
$codeBgColor = #f5f5f5
$arrowBgColor = #5c5c5c

// Layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 968px

// Responsive breakpoints
$MQNarrow = 991px
$MQMobile = 767px
$MQMobileNarrow = 575px

// Code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py