// Colors
$accentColor = #EB6400
$textColor = #5C5C5C
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #5C5C5C

// Layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// Responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// Code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py